/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/05/01, 13:32:07
    Author     : hal
*/

table.tbl_list { border: 1px #000000 solid; border-collapse:collapse; }

table.tbl_list tr td { border: 1px solid; padding:0px; }

table.tbl_list tr.tr_title { background-color:#003366; color:#ffffff;}

table.tbl_list tr.tr_linee { background-color:#ffffff; }

table.tbl_list tr.tr_lineo { background-color:#fffff0; }

table.tbl_list td.td_title { text-align:center; padding: 0px 4px; }
table.tbl_list td.td_titlee { background-color:#003366; color: #ffffff; text-align:left; padding: 0px 4px;}

table.tbl_list td.td_line { text-align:left; padding: 0px 4px; }

/*[2017.05.02]*/
table.tbl_list td div.myover {
    position: relative;
    overflow: hidden;
    height: 24px;
}

/*[2017.05.10]*/
/*table.tbl_list tr.tr_title2 { background-color:#660033; color:#ffffff;}*/
table.tbl_list tr.tr_title2 { background-color:#6495ED; color:#ffffff; }
table.tbl_list td.td_title2 { text-align:center; padding: 0px 1px; }
table.tbl_list td.td_titleI { text-align:center; padding: 0px 1px; background-color: #ff6600; }
table.tbl_list td.td_line2 { text-align:left; padding: 0px 1px; }
table.tbl_list td.td_lineI { text-align:left; padding: 0px 1px; border-color: #ff6600; }

.popup {
	display:none;
	position:fixed;
	top: 50%;
	left: 50%;
        /*position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;*/
	background-color:#ffffcc;
	/*background-color:#fff;*/
	overflow:hidden;
	z-index:101;
}

.popup_inner {
	padding:20px;
}

#overlay {
	display:none;
	position:fixed;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	/*background-color:#778899;*/
	opacity:0.7;
	filter: alpha(opacity=50); /* IE */
	z-index:100;
}

#popup1 {
	width: 620px;	/*[2015.03.14]*/
	height: 610px;
}
